<%= stylesheet_link_tag "user" %>

<div class="profile-container">
<header class="profile-header">
  <i class="fa fa-bars" aria-hidden="true"></i>
</header>
<main>
  <div class="row">
    <div class="left col-lg-4">
      <div class="photo-left">
        <img
          class="photo"
          src=<%= @users.avatar %>
          alt="uẻ image"
        />
      </div>
      <h4 class="name"><%=@users.name %></h4>
      <p class="info">年齢: <%=@users.age %></p>
      <p class="info"><%=@users.email %></p>
      <div class="stats row">
        <div class="stat col-xs-4" style="padding-right: 50px">
          <p class="number-stat">3,619</p>
          <p class="desc-stat">フォロワー</p>
        </div>
        <div class="stat col-xs-4">
          <p class="number-stat">42</p>
          <p class="desc-stat">フォロー中</p>
        </div>
        <div class="stat col-xs-4" style="padding-left: 50px">
          <p class="number-stat">38</p>
          <p class="desc-stat">アップロード</p>
        </div>
      </div>
      <p class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, totam. Facere excepturi sed sint autem recusandae. Corrupti doloribus distinctio, minima dolores totam quisquam vitae.
      </p>
      <div class="social">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        <i class="fa fa-pinterest-square" aria-hidden="true"></i>
        <i class="fa fa-tumblr-square" aria-hidden="true"></i>
      </div>
    </div>
    <div class="right col-lg-8">
      <ul class="nav">
        <li>投稿</li>
        <li>コレクション</li>
        <li>グループ</li>
        <li>約</li>
      </ul>
      <span class="follow">フォロー</span>
      <div class="row gallery">
      <% @blogs.each do |blog| %>
        <% if count ==0%>
        <h1>最近の投稿はありません</h1>
        <% end %>
        <% else %>
        <div class="col-md-4 gallery-item">
          <div class="gallery-item_img">
            <img
            src=<%= blog.image %>
            alt="Blog Image"
            />
            <h2>View</h2>
          </div>
        </div>
        <% end %>
      </div>
  </div>
</main>
</div>